<!DOCTYPE html>
<html>
    <head>
        <title>{{ siteName }} - {{Title}}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <script src="{{ themeUrl }}js/script.js?v=20180728" type="text/javascript"></script>
        <link rel="stylesheet" href="{{ themeUrl }}css/style.css?v=20180728" type="text/css" />
        <link rel="stylesheet" href="{{ themeUrl }}css/style_mobile.css?v=20180728" type="text/css" media="handheld"/>
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
        {{#googleStatisticsCode}}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{googleStatisticsCode}}"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{googleStatisticsCode}}');
        </script>
        {{/googleStatisticsCode}}
        <script type="text/javascript" src="js/cookiebanner.min.js"></script>
        <script type="text/javascript">
            var options = { message: "We use cookies on this website. By using this site, you agree that we may store and access cookies on your device.", 
            moreinfo: "?privacyPolicy=1", 
            moreinfoTarget:"" ,
            closeText:"OK",
            linkmsg:"Privacy policy"
            };
            var cb = new Cookiebanner(options); cb.run();
        </script>
    </head>
    
    <body>
        <h1>{{ siteName }}{{#betaHeader}}<img src='images/beta.png' alt='beta'/>{{/betaHeader}}
            <a href="https://facebook.com/synopackage/" alt="synopackage.com on facebook" target="_blank">
                <img src='{{themeUrl}}images/facebook20x20.png' width="20" height="20" alt='thumbnail'/>
            </a></h1>
        <div id="menu">
            <ul>
                <li><a href="?news=1">News</a></li>
                <li><a href="?search=1">Search</a></li>
                <li><a href="?sourceList=1">Browse sources</a></li>
                <li><a href="?faq=1">FAQ</a></li>
                {{#donationActive}}
                <li><a href="?donate=1">Donate</a></li>
                {{/donationActive}}
                <li><a class="last" href="?contact=1">Contact</a></li>
                 <!-- <li class="last"><a href="http://github.com/jdel/sspks">Host your own packages</a></li> -->
            </ul>
        </div>
        {{#showOptions}}
            <div id="options">
            {{> html_options }}
            </div>
        {{/showOptions}}
        <div id="content">
            <ul>
