            </ul>
        </div>
        <hr />
        <div id="footer">            
                <div class="table-row">
                    <div class="left-cell">
                        <span>
                        xurc 2017. License <a href='LICENSE.txt' target='_blank'>GNU GENERAL PUBLIC LICENSE</a> 
                        Source code can be found on <a href="https://github.com/szyb/synopackage" target="_blank">github</a>. 
                        Special thanks to jdel for the <a href="https://github.com/jdel/sspks" target="_blank">project</a>.
                        </span>
                        <span>Our Privacy Policy <a href='?privacyPolicy=1'>here</a></span>
                    </div>
                    <div class="right-cell"><span>version:<a href="?changelog=1">{{websiteVersion}}</a></span></div>
                </div>
                <div class="table-row">
                    <div class="left-cell">
                        <span class="credits">Icon design by <a href="http://www.freepik.com" target="_blank">Freepik</a></span>
                    </div>
                </div>
        </div>
    </body>
</html>
