html {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
    color: #7A8988;
    padding-top: 20px;
}

#menu ul {
    list-style-type: none;
    padding: 1em 0;
    margin-top: -19px;
    background-color: #7A8988;
    border-top: 3px double #fff;
}

#menu ul li {
    margin: 0;
    padding: 0 1em 0 1em;
    display: inline;
    border-right: 1px solid #fff;
}

#menu ul li.last {
    border: 0;
}


a img {
    border: 0;
}

#menu ul li a:visited,
#menu ul li a {
    color: #fff;
    font-family: sans-serif;
    font-variant: small-caps;
}

#source-info {
    font-size: small;
    padding: 1em;
    margin-top: -19px;
    background-color: #DF3A01;
    color: white;
    border-top: 3px double #fff;
}

#source-info p {
    border: 0px;
    margin: 0px;
}

#source-info span {
    font-family: Courier;
}

#content ul {
    list-style-type: none;
    padding: 0;
}

#content ul li a {
    text-decoration: none;
}
a:visited {
    color: #0000bb;
}

#content ul li.package {
    min-height: 72px;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
    background: -moz-linear-gradient(top,  #eee,  #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff');

    border-radius: 7px; 
    -moz-border-radius: 7px; 
    -webkit-border-radius: 7px; 
    border: 1px solid #ddd;

    width: 500px;
    padding: 7px;
    margin-bottom: 10px;
    margin-left:auto;
    margin-right:auto;

    color: #555;
}

#content ul li.syno-model {
    float: left;
    display: block;
    width: 200px;
    margin-bottom: 1em;
    padding-left: 1em;
}

.spk-icon {
    float: left;
    margin-right: 13px;
    display: block;
}

.spk-icon a {
    display: inline-block;
    position: relative;
    line-height: 0;
}

.spk-icon a ins {
    background: url('../images/beta_badge.png') no-repeat 0 0;
    position: absolute;
    left: 42px;
    top: -7px;
    width: 40px;
    height: 40px;
}

.spk-desc {
    text-align:justify;
    display: block;
    font-size:12px;
}

.spk-title {
    font-family: sans-serif;
    font-size:large;
    font-weight: bold;
    color:#3F5E8A;
}

.dsm-version {
    font-size: x-small;
    color: #888;
    margin-top: 0;
}

.hidden {
    display: none;
}

/* https://tiffanybbrown.com/2011/09/26/toggle-blind-effect-with-css3-transitions/ */

.toggler {
    min-height: 0px;
    max-height: 0px;
    overflow: hidden;

         -o-transition: min-height, max-height;
        -ms-transition: min-height, max-height;
       -moz-transition: min-height, max-height;
     -khtml-transition: min-height, max-height;
    -webkit-transition: min-height, max-height;
            transition: min-height, max-height;
            
         -o-transition-duration: 0.5s;
        -ms-transition-duration: 0.5s;
       -moz-transition-duration: 0.5s;
     -khtml-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    
         -o-transition-timing-function: ease-in-out;
        -ms-transition-timing-function: ease-in-out;
       -moz-transition-timing-function: ease-in-out;
     -khtml-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
}

.toggler.open {
    height: auto;
    min-height: 10px;
    max-height: 500px;
}

hr {
    border: 0;
    border-bottom: 1px solid #7A8988;
    clear: both;
}

#footer {
    font-size: smaller;
    width: 100%;
}

#footer .table-row{
    width:100%; 
    font-size: smaller;
}
#footer .right-cell{
    display: table-cell;
    padding-top: 5px;
    width:auto; 
    text-align: right;
    font-size: smaller;
    padding-bottom: 0px;
}
#footer .left-cell{
    display: table-cell;
    padding-top: 5px;
    width:100%; 
    text-align: left;
    font-size: smaller;
    padding-bottom: 0px;
}

/* 
@font-face {
  font-family: 'Alice';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/alice-webfont.eot');
  src: url('../fonts/alice.woff') format('woff');
} */

.contact_info {
    min-height: 72px;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
    background: -moz-linear-gradient(top,  #eee,  #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff');

    border-radius: 7px; 
    -moz-border-radius: 7px; 
    -webkit-border-radius: 7px; 
    border: 1px solid #ddd;

    width: 500px;
    padding: 7px;
    margin-bottom: 30px;
    margin-left:auto;
    margin-right:auto;

    color: #555;
}

.table
{
    display: table;
}

.table-row{
    display: table-row;
}

.table-cell{
    display: table-cell;
    padding-right: 10px;
    padding-top: 5px;
}

.right{
    text-align: right;
}

.top {
    vertical-align: top;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: orange;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%; 
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.no-data{
    color: red;
}


#options
{
    padding-bottom: 10px;  
    display:block;
    text-align: center;
}

#options ul {
    list-style-type: none;
    display: inline;
    padding:0px;
}
#options ul li{
    text-decoration: none;
    display: inline;
}
#options .padding-left {
    padding-left: 20px;
}
#options .option-label {
    display:inline;
}
#options .option-filter
{
    display:inline;
}


#content ul li.parameters {
    min-height: 72px;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
    background: -moz-linear-gradient(top,  #eee,  #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff');

    border-radius: 7px; 
    -moz-border-radius: 7px; 
    -webkit-border-radius: 7px; 
    border: 1px solid #ddd;

    width: 500px;
    padding: 7px;
    margin-bottom: 30px;
    margin-left:auto;
    margin-right:auto;

    color: #555;
}

.param-title {
    font-family: sans-serif;
    font-size:large;
    font-weight: bold;
    color:#3F5E8A;
}


.param-label {
    text-align:right;
    display: block;
    font-size:12px;
    color: #3F5E8A;
}

.param-param {
    text-align:justify;
    display: block;
    font-size:12px;    
}

.search-result-url
{
    display:block;
    width: 100%;
    background-color: bisque;
    color: black;   
    font-size: large; 
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
}
.search-result-not-found
{
    display:block;
    width: 100%;
    color:cornflowerblue;   
    font-size:medium; 
    text-align: center;
    padding-bottom: 10px;
}

#search-panel
{
    padding-bottom: 10px;  
    display:block;
    text-align: center;
}

#search-panel ul {
    list-style-type: none;
    display: inline;
    padding:0px;
}
#search-panel ul li{
    text-decoration: none;
    display: inline;
}
#search-panel .padding-left {
    padding-left: 20px;
}
#search-panel .option-label {
    display:inline;
}
#search-panel .option-filter
{
    display:inline;
}

#supported-urls
{
    min-height: 72px;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
    background: -moz-linear-gradient(top,  #eee,  #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff');

    border-radius: 7px; 
    -moz-border-radius: 7px; 
    -webkit-border-radius: 7px; 
    border: 1px solid #ddd;

    width: 600px;
    padding: 7px;
    margin-bottom: 30px;
    margin-left:auto;
    margin-right:auto;

    color: #555;
}

#supported-urls .url-label
{
    color: #3F5E8A;
    display: block;
    font-size: large;
    padding-bottom: 10px;
}


#supported-urls .url-label-info
{
    color: gray;
    display: block;
    font-size: small;
    padding-bottom: 10px;
}

#unsupported-urls
{
    min-height: 72px;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
    background: -moz-linear-gradient(top,  #eee,  #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff');

    border-radius: 7px; 
    -moz-border-radius: 7px; 
    -webkit-border-radius: 7px; 
    border: 1px solid #ddd;

    width: 600px;
    padding: 7px;
    margin-bottom: 30px;
    margin-left:auto;
    margin-right:auto;

    color: #555;
}

#unsupported-urls .url-label
{
    color: #3F5E8A;
    display: block;
    font-size: large;
    padding-bottom: 10px;
}


#unsupported-urls .url-label-info
{
    color: gray;
    display: block;
    font-size: small;
    padding-bottom: 10px;
}


#changelogs .changelog
{
    min-height: 72px;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
    background: -moz-linear-gradient(top,  #eee,  #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff');

    border-radius: 7px; 
    -moz-border-radius: 7px; 
    -webkit-border-radius: 7px; 
    border: 1px solid #ddd;

    width: 600px;
    padding: 7px;
    margin-bottom: 30px;
    margin-left:auto;
    margin-right:auto;

    color: #555;
}

#changelogs .version 
{
    color: #3F5E8A;
    display: block;
    font-size: large;
}

#changelogs .date
{
    color: gray;
    display: block;
    font-size: small;
    padding-bottom: 10px;
}

#changelogs .category
{
    color:blue;
    display: block;
    font-size: normal;
    margin-top: 5px;
}

#changelogs li
{
    padding-left: 20px;
    
}

.error{
    color: red;
    text-align: center;
    border: 2px solid red;
    padding: 10px;
    margin-bottom: 10px;
}


#news .news
{
    min-height: 72px;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
    background: -moz-linear-gradient(top,  #eee,  #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff');

    border-radius: 7px; 
    -moz-border-radius: 7px; 
    -webkit-border-radius: 7px; 
    border: 1px solid #ddd;

    width: 600px;
    padding: 7px;
    margin-bottom: 30px;
    margin-left:auto;
    margin-right:auto;

    color: #555;
}


#news .icon {
    float: left;
    margin-right: 13px;
    display: block;
}

#news .title 
{
    color: #3F5E8A;
    display: block;
    font-size: large;
}

#news .date
{
    color: gray;
    display: block;
    font-size: small;
    padding-bottom: 10px;
}

#news .body
{
    display: block;
    padding-bottom: 10px;
}

.credits
{
    color: gray;
    font-size:smaller;
    
}


#faq .faq
{
    min-height: 72px;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
    background: -moz-linear-gradient(top,  #eee,  #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff');

    border-radius: 7px; 
    -moz-border-radius: 7px; 
    -webkit-border-radius: 7px; 
    border: 1px solid #ddd;

    width: 600px;
    padding: 7px;
    margin-bottom: 30px;
    margin-left:auto;
    margin-right:auto;

    color: #555;
}

#faq .question 
{
    color: #3F5E8A;
    display: block;
    font-size: large;
    margin-bottom: 20px;
}

#faq .answer
{
    display: block;
    padding-bottom: 10px;
}

#faq .icon {
    float: left;
    margin-right: 13px;
    display: block;
}

.contact_icon {
    float: left;
    margin-right: 13px;
    display: block;
}

.contact_email
{
    margin-top: 10px;
}

#content ul li div.privacy_policy {
    min-height: 72px;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
    background: -moz-linear-gradient(top,  #eee,  #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff');

    border-radius: 7px; 
    -moz-border-radius: 7px; 
    -webkit-border-radius: 7px; 
    border: 1px solid #ddd;

    width: 500px;
    padding: 7px;
    margin-bottom: 10px;
    margin-left:auto;
    margin-right:auto;

    color: #555;
}

.bold_blue
{
    font-weight: bold;
    color: blue;
}


#donate .donate
{
    min-height: 72px;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
    background: -moz-linear-gradient(top,  #eee,  #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff');

    border-radius: 7px; 
    -moz-border-radius: 7px; 
    -webkit-border-radius: 7px; 
    border: 1px solid #ddd;

    width: 600px;
    padding: 7px;
    margin-bottom: 30px;
    margin-left:auto;
    margin-right:auto;

    color: #555;
}

#donate .icon {
    float: left;
    margin-right: 13px;
    display: block;
}

#donate .info 
{
    color: #3F5E8A;
    display: block;
    font-size: large;
}

#donate .urls 
{
    color: #3F5E8A;
    display: block;
    font-size: large;
    margin-left: 90px;
}

#faq .description
{
    display: block;
    padding-bottom: 10px;
}

#content ul li div.pages {
    min-height: 50px;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
    background: -moz-linear-gradient(top,  #eee,  #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff');
    text-align: center;

    border-radius: 7px; 
    -moz-border-radius: 7px; 
    -webkit-border-radius: 7px; 
    border: 1px solid #ddd;

    width: 300px;
    padding: 7px;
    margin-bottom: 10px;
    margin-left:auto;
    margin-right:auto;

    color: #555;
}