{{> html_head }}
   <li>
    <div id="donate">
        <div class="donate">
            <div class="info">info</div>
            <div class="description">description</div>
        </div>   
    </div>
   </li>
{{> html_tail }}
