{{> html_head }}
   <li>
   <div class="contact_info">
        <div class="contact_icon"><img src='{{themeUrl}}images/facebook40x40.png' width="40" height="40" alt='thumbnail'/></div>
        <div>
        You can contact us on Facebook <a href="https://facebook.com/synopackage/" alt="synopackage.com on facebook" target="_blank"> https://facebook.com/synopackage/</a>
       </div>       
    </div>
    <div class="contact_info">
        <div class="contact_icon"><img src='{{themeUrl}}images/GitHub-Mark-32px.png' width="40" height="40" alt='thumbnail'/></div>
        <div>
        Issues should be reported on <a href='https://github.com/szyb/synopackage/issues'>Github</a>.
        You can also create issue for your suggestion or question.
        </div>
    </div>
    <div class="contact_info">
        <div class="contact_icon"><img src='{{themeUrl}}images/contact.png' width="40" height="40" alt='thumbnail'/></div>
        <div>
        You can also contact us by e-mail:</div>
        <div class="contact_email"><img src='{{themeUrl}}images/contact_email.png' alt='email'/></div>
    </div>
    <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = https://search.synopackage.com/?contact=1;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = Contact; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://synopackage.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
   </li>
{{> html_tail }}
