{{> html_head }}
<div>
    <p>Welcome in beta tests!</p>
    <p>Please provide feedback if you find any issues or you have suggestions about the site. See   <a href="index.php?contact=1">contact page</a></p>
    <p><b>Technical details:</b><br />
    Access for tests was granted for 6 hours. After that time you will need refresh your access and navigate to the url provided to you.
    Due to the fact that page is under active development and your browser is caching style / js files you probably need to refresh whole content of the site by using CTRL+F5 key combination. It is recommended do that before you start testing or when you notice that version number (bottom right of the page) was changed during the tests.
    </p>
    <p>
    Hope to see your feedback! Thanks!
    </p>
    <p>Current website version is {{version}}. See <a href="?changelog=1">changelog</a>
    
</div>           
{{> html_tail }}
