{{> html_head }}
   <li>
    <div class="privacy_policy"><span class="bold_blue">We use cookies</span>. Nothing unusual. By continuing to browse the site, 
    you are agreeing to our use of cookies. Cookies are stored to save your latest preferences i.e. your device model 
    and DSM version. 
    This helps you not to select your preferences every time you enter the page.</div>
    <div class="privacy_policy">
    <span class="bold_blue">We also store query logs</span>. We do want to know what devices are in use, 
    so we can prepare your query result at night and provide them to you when needed. It is much faster 
    than without caching the results. Those logs are stored anonymously, so <b>we do not store your IP</b>. 
    However your IP might be colleted by the hosting web server, which is outside our jurisdiction.
    </div>
    <div class="privacy_policy">
    <span class="bold_blue">We also use statistics</span>. Currently we use Google analytics. Their privacy policy 
    is located <a href="https://support.google.com/analytics/answer/6004245">here</a>.
    </div>
   </li>
{{> html_tail }}
