{{> html_head }}
   <li>
    <div class="contact_info">
    
        <div class="contact_icon"><img src='{{themeUrl}}images/contact.png' width="72" height="72" alt='thumbnail'/></div>
        <div>
        If you have any questions, please feel free to contact us. Perhaps you can already find your answer on our <a href="?faq=1">FAQ page</a></div>
        <div class="contact_email"><img src='{{themeUrl}}images/contact_email.png' alt='email'/></div>
    </div>
   </li>
{{> html_tail }}
