
<FilesMatch "\.(jpg|png|css|js|ico)$">
Header set Cache-Control "public, max-age=3600"
</FilesMatch>

Options All -Indexes

<FilesMatch "\.(log|cache|cache0|cache1|cache2|cache3|yaml|yml|json|mustache)$">
Order deny,allow
deny from all
</FilesMatch>

<FilesMatch "cookies.txt">
Order deny,allow
deny from all
</FilesMatch>